# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py

# ===============================
# Environment variables (SECRETS)
# ===============================
.env
.envrc

# ===============================
# Virtual Environments
# ===============================
travel_env/
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ===============================
# Static & Media (collected files)
# ===============================
staticfiles/

# ===============================
# Packaging / Build
# ===============================
build/
dist/
*.egg-info/
.eggs/
.installed.cfg

# ===============================
# Testing / Coverage
# ===============================
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/

# ===============================
# IDE / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Cache / Misc
# ===============================
.mypy_cache/
.ruff_cache/
.pytype/
